label {
  float: left;
  width: 10em;
  margin-right: 1em;
  text-align: right;
}

table label {
  float: left;
  width: 2em;
  margin-right: 1em;
  text-align: right;
}

fieldset {
  float: left;
  clear: both;
  width: 100%;
  margin: 0 0 1.5em 0;
  padding: 0;
  border: 1px solid #BFBAB0;
  background-color: #F2EFE9;
}

fieldset ol {
  padding: 1em 1em 0 1em;
  list-style: none;
}

fieldset li {
  padding-bottom: 1em;
}

legend {
  margin-left: 1em;
  padding: 0;
  color: #000;
  font-weight: bold;
}

fieldset.submit {
  float: none;
  width: auto;
  border-style: none;
  padding-left: 12em;
  background-color: transparent;
}

table {
  margin: 1em 1em 1em 1em;
}

table, th, td {
  padding: 0em 0.5em;
}

.star {
  color:#b30000;
}

input[type="number"] {
  width: 50px;
}