body {
     color:#403010; 
     font-family:"Bradley Hand", "Brush Script MT", "Engravers MT", cursive;
     background-color:#FFF0D0;
     font-style:italic; 
}

p {
     margin-left:20px;
}

h1, h2, th, td {
     color:#403010;
}

h1, h2, th {
     text-align:center; 
     font-weight:bold; 
}

table, th, td {
     border-style:dashed;
}

table {
     padding:10px; 
     margin:10px; 
     vertical-align:top;
}

td {
     vertical-align:top;
}

.currency {
    text-align:right;
    font-family:monotype;
    font-style:normal; 
}
